* {
  box-sizing: border-box;
}

#root {
  text-align: center;
  padding: 0;
  margin: 0;
}

:root {
  --primary--color: #1A1D23;
  --secondary--color: #097DA5;
  --third--color: #23272F;
  --white--color: #F6F7F9;
}

h1,
h2 {
  color: var(--secondary--color);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;

}

input {
  padding: 10px;
  margin-right: 5px;
}

header {
  background-color: var(--primary--color);
  color: var(--secondary--color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#root>header>nav>ul {

  display: flex;
  list-style-type: none;
  align-items: center;

}

#root>header>nav>ul>li>a {
  border: 2px solid var(--secondary--color);
  padding: 10px;
  border-radius: 5px;
}

#root>header>nav>ul>li>a:hover {
  background-color: var(--secondary--color);
  color: var(--white--color);
  border-color: var(--white--color);
  font-weight: bolder;
}

main {
  padding: 1em;
  color: var(--white--color);
  background-color: var(--third--color);
}

footer {
  background-color: var(--primary--color);
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

#root>footer>nav>ul>li>a {
  background-color: var(--secondary--color);
  border-radius: 50%;
}

#root>footer>nav>ul {
  list-style-type: none;
}

button {
  background-color: var(--primary--color);
  color: var(--secondary--color);
  border: 2px solid var(--secondary--color);
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: var(--secondary--color);
  color: var(--white--color);
  font-weight: bolder;
  border: 2px solid var(--white--color);
}



.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}