*{
}

#root {
  max-width: 1280px;
  text-align: center;
  padding: 0;
  margin: 0;
}

:root{
  --primary--color: rgb(23, 23, 23);
  --secondary--color: rgb(224, 162, 29);
}

h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}

a{
  text-decoration: none;
  color: inherit;
  
}

header{
  background-color: var(--primary--color);
  color: var(--secondary--color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}

#root> header > nav> ul {
  
  display: flex;
  list-style-type: none;
  align-items: center;

}

#root> header > nav> ul > li > a {
  border: 2px solid var(--secondary--color);
  padding: 10px;
}

#root> header > nav> ul > li > a:hover{
  background-color: var(--secondary--color);
  color: var(--primary--color);
}

main{
  padding: 1.5em;
}

footer{
  background-color: var(--primary--color);
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
}

#root> footer> nav> ul> li> a {
  background-color: var(--secondary--color);
  border-radius: 50%;
}

#root> footer > nav> ul {
  list-style-type: none;
}



.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
