.gallery {
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.gallery > figure > img {
    width: 200px;
}

.gallery > .button-container {
    justify-content: flex-end;
    display: flex;
    
}

.gallery > p {
    font-weight: 200;
}



